.main-footer-area {
    padding: 3% 0;
    .footer_social_share_title {
        text-transform: uppercase;
        font-size: 20px;
    }
    .social-media-icon {
        padding: 0px;
    }
    .top-footer {
        text-align: center;
    }
}

.footer_nav {
    border-top: solid 1px #ddd;
    border-bottom: solid 1px #ddd;
    padding: 25px 0px;
}

.footer_menu__list {
    list-style-type: none;
    text-align: center;
    li {
        display: inline-block;
        margin: 0px 15px;
        text-transform: uppercase;
        a {
            &:hover {
                text-decoration: none;
                color: $pt-color;
            }
        }
    }
}

.footer-copyinfo {
    text-align: center;
    padding-bottom: 20px;

    p{
        margin-bottom: 10px;
        font-weight: bold;
        color: #888;
    }
    ul {
        text-align: center;
        li {
            display: inline-block;
            margin: 0px 5px;
            font-size: 13px;
            &:after {
                content: ' | ';
                padding-left: 15px;
            }
            &:last-child {
                &:after {
                    content: '';
                }
            }
            a {
                &:hover {
                    text-decoration: none;
                    color: $pt-color;
                }
            }
        }
    }
}