/* =======================================================================
## ++ Globals
========================================================================== */

@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700');
html {
    font-size: 100%;
}

body {
    -webkit-font-smoothing: antialiased;
    font-family: 'Ubuntu', sans-serif;
}

* {
    box-sizing: border-box;
}

/* =======================================================================
## ++ Cleafix
========================================================================== */

/* float clearing for IE6 */

* html .clearfix {
    height: 1%;
    overflow: visible;
}

/* float clearing for IE7 */

*+html .clearfix {
    min-height: 1%;
}

/* float clearing for everyone else */

.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
    font-size: 0;
}

.clr {
    clear: both;
}

/* Divi Builder CSS Fix as per Bootstrap */

.et_divi_builder #et_builder_outer_content .et_pb_row {
    max-width: 1140px;
}

#et_builder_outer_content {
    div {
        color: inherit;
    }
}

.ninja-forms-form-wrap {
    .nf-form-fields-required {
        display: none;
    }
    .nf-field {
        margin-bottom: 15px !important;
    }
    input {
        width: 100% !important;
        display: block !important;
        height: 45px !important;
        background-color: white !important;
        border: solid 1px #eee!important;
        border-radius: 3px !important;
    }
    input[type=button] {
        background-color: $st-color !important;
        width: 100% !important;
        display: block !important;
        text-align: center !important;
        color: white !important;
        height: 45px !important;
        cursor: pointer !important;
        font-weight: bold;
        text-transform: uppercase;
    }
}

.video-banner-container {
    position: relative;
    display: block;
    width: 100%;
    &:after {
        clear: both;
        content: ".";
        display: block;
        height: 0;
        visibility: hidden;
        font-size: 0;
    }
    .video-caption {
        padding: 15% 5%;
        z-index: 9;
        position: absolute;
        @media(max-width: 580px) {
            padding: 0% 0%;
            padding-top: 2%;
            text-align: center;
            position: relative;
        }
        &:after {
            clear: both;
            content: ".";
            display: block;
            height: 0;
            visibility: hidden;
            font-size: 0;
        }
        p{
            margin-bottom: 0px;
        }
        button {
            color: white;
            padding: 10px 50px;
            height: 55px;
        }
        ul {
            padding: 0px;
            list-style-type: none;
            @media(max-width: 580px) {
                display: none;
            }
            li {
                padding: 1px 0px;
                color: white;
                font-size: 20px;
                @media(max-width: 1000px) {
                    font-size: 16px;
                }
                @include normal() {
                    font-size: 13px;
                }
                text-transform: uppercase;
            }
        }
    }
}

video {
    //position: absolute;
    width: 100%;
    height: auto; 
    //background: url('<?php echo $background_cover_image['url'];?>') no-repeat;
    background-size: cover;
    transition: 1s opacity;
    margin-bottom: -7px;
    @include normal() {
        margin-top: 2%;
    }
    
}