$header-bg: #f5f5f5;
$header-nav-bg: #555;

$li-normal: #888;
$li-hover-active: #111;
$li-hover-bg: #ddd;

$li-normal-child: #888;
$li-hover-active-child: #111;
$li-hover-bg-child: #ddd;

$li-dropdown-icon : red;

$logo-a : red;
#skh-menu__wrapper {
    @extend .clearfix;
    * {
        margin: 0;
        padding: 0;
        text-decoration: none
    }
    nav {
        position: relative;
        width: 100%;
        margin: 0 auto;
    }
    header {
        position: relative;
        width: 100%;
    }
    .logo {
        position: relative;
        z-index: 123;
        padding: 10px;
        font: 18px verdana;
        float: left;
        width: 15%;
        a {
            color: $logo-a;
        }
    }
    #skh-version__1,
    #skh-version__1 ul,
    #skh-version__1 ul li,
    #skh-version__1 ul li a,
    #skh-version__1 #head-mobile {
        border: 0;
        list-style: none;
        line-height: 1;
        display: block;
        position: relative;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        z-index: 9;
    }
    #skh-version__1:after,
    #skh-version__1>ul:after {
        content: ".";
        display: block;
        clear: both;
        visibility: hidden;
        line-height: 0;
        height: 0
    }
    #skh-version__1 #head-mobile {
        display: none
    }
    #skh-version__1 {
        font-family: sans-serif;
        background: $header-bg;
        /**  NAVBAR BG COLOR  **/
        @extend .clearfix;

        #skh-menu{
          float: right;
        }
        ul>li {
            float: left;
            a {
                padding: 17px;
                font-size: 12px;
                letter-spacing: 1px;
                text-decoration: none;
                color: $li-normal;
                font-weight: 700;
                &:hover,
                &:focus {
                    color: $li-hover-active;
                }
            }
            &:hover,
            &.active:hover,
            &.active {
                background: $li-hover-bg;
                -webkit-transition: background .3s ease;
                -ms-transition: background .3s ease;
                transition: background .3s ease;
            }
        }
    }


    #skh-version__1>ul>li.has-sub>a {
        padding-right: 30px
    }
    #skh-version__1>ul>li.has-sub>a:after {
        position: absolute;
        top: 22px;
        right: 11px;
        width: 8px;
        height: 2px;
        display: block;
        background: $li-dropdown-icon;
        content: ''
    }
    #skh-version__1>ul>li.has-sub>a:before {
        position: absolute;
        top: 19px;
        right: 14px;
        display: block;
        width: 2px;
        height: 8px;
        background: $li-dropdown-icon;
        content: '';
        -webkit-transition: all .25s ease;
        -ms-transition: all .25s ease;
        transition: all .25s ease
    }
    #skh-version__1>ul>li.has-sub:hover>a:before {
        top: 23px;
        height: 0
    }
    #skh-version__1 ul ul {
        position: absolute;
        left: -9999px
    }
    #skh-version__1 ul ul li {
        height: 0;
        -webkit-transition: all .25s ease;
        -ms-transition: all .25s ease;
        background: $header-bg;
        transition: all .25s ease
    }
    #skh-version__1 li:hover>ul {
        left: auto
    }
    #skh-version__1 li:hover>ul>li {
        height: 35px
    }
    #skh-version__1 ul ul ul {
        margin-left: 100%;
        top: 0
    }
    #skh-version__1 ul ul li a {
        border-bottom: 1px solid rgba(150, 150, 150, 0.15);
        padding: 11px 15px;
        width: 170px;
        font-size: 12px;
        text-decoration: none;
        color: $li-normal-child;
        font-weight: 400;
    }
    #skh-version__1 ul ul li:last-child>a,
    #skh-version__1 ul ul li.last-item>a {
        border-bottom: 0
    }
    #skh-version__1 ul ul li:hover>a,
    #skh-version__1 ul ul li a:hover {
        color: $li-hover-active-child;
    }
    #skh-version__1 ul ul li.has-sub>a:after {
        position: absolute;
        top: 16px;
        right: 11px;
        width: 8px;
        height: 2px;
        display: block;
        background: $li-dropdown-icon;
        content: ''
    }
    #skh-version__1 ul ul li.has-sub>a:before {
        position: absolute;
        top: 13px;
        right: 14px;
        display: block;
        width: 2px;
        height: 8px;
        background: $li-dropdown-icon;
        content: '';
        -webkit-transition: all .25s ease;
        -ms-transition: all .25s ease;
        transition: all .25s ease
    }
    #skh-version__1 ul ul>li.has-sub:hover>a:before {
        top: 17px;
        height: 0
    }
    #skh-version__1 ul ul li.has-sub:hover,
    #skh-version__1 ul li.has-sub ul li.has-sub ul li:hover {
        background: $li-hover-bg;
    }
    #skh-version__1 ul ul ul li.active a {
        border-left: 1px solid #333
    }
    #skh-version__1>ul>li.has-sub>ul>li.active>a,
    #skh-version__1>ul ul>li.has-sub>ul>li.active>a {
        border-top: 1px solid #333
    }
    @media screen and (max-width:700px) {
        .logo {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 46px;
            text-align: center;
            padding: 10px 0 0 0;
            float: none
        }
        .logo2 {
            display: none
        }
        nav {
            width: 100%;
        }
        #skh-version__1 {
            width: 100%
        }
        #skh-version__1 ul {
            width: 100%;
            display: none
        }
        #skh-version__1 ul li {
            width: 100%;
            border-top: 1px solid #444
        }
        #skh-version__1 ul li:hover {
            background: #363636;
        }
        #skh-version__1 ul ul li,
        #skh-version__1 li:hover>ul>li {
            height: auto
        }
        #skh-version__1 ul li a,
        #skh-version__1 ul ul li a {
            width: 100%;
            border-bottom: 0
        }
        #skh-version__1>ul>li {
            float: none
        }
        #skh-version__1 ul ul li a {
            padding-left: 25px
        }
        #skh-version__1 ul ul li {
            background: #333!important;
        }
        #skh-version__1 ul ul li:hover {
            background: #363636!important
        }
        #skh-version__1 ul ul ul li a {
            padding-left: 35px
        }
        #skh-version__1 ul ul li a {
            color: #ddd;
            background: none
        }
        #skh-version__1 ul ul li:hover>a,
        #skh-version__1 ul ul li.active>a {
            color: #fff
        }
        #skh-version__1 ul ul,
        #skh-version__1 ul ul ul {
            position: relative;
            left: 0;
            width: 100%;
            margin: 0;
            text-align: left
        }
        #skh-version__1>ul>li.has-sub>a:after,
        #skh-version__1>ul>li.has-sub>a:before,
        #skh-version__1 ul ul>li.has-sub>a:after,
        #skh-version__1 ul ul>li.has-sub>a:before {
            display: none
        }
        #skh-version__1 #head-mobile {
            display: block;
            padding: 23px;
            color: #ddd;
            font-size: 12px;
            font-weight: 700
        }
        .button {
            width: 55px;
            height: 46px;
            position: absolute;
            right: 0;
            top: 0;
            cursor: pointer;
            z-index: 12399994;
        }
        .button:after {
            position: absolute;
            top: 22px;
            right: 20px;
            display: block;
            height: 8px;
            width: 20px;
            border-top: 2px solid #dddddd;
            border-bottom: 2px solid #dddddd;
            content: ''
        }
        .button:before {
            -webkit-transition: all .3s ease;
            -ms-transition: all .3s ease;
            transition: all .3s ease;
            position: absolute;
            top: 16px;
            right: 20px;
            display: block;
            height: 2px;
            width: 20px;
            background: #ddd;
            content: ''
        }
        .button.menu-opened:after {
            -webkit-transition: all .3s ease;
            -ms-transition: all .3s ease;
            transition: all .3s ease;
            top: 23px;
            border: 0;
            height: 2px;
            width: 19px;
            background: #fff;
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            transform: rotate(45deg)
        }
        .button.menu-opened:before {
            top: 23px;
            background: #fff;
            width: 19px;
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
            transform: rotate(-45deg)
        }
        #skh-version__1 .submenu-button {
            position: absolute;
            z-index: 99;
            right: 0;
            top: 0;
            display: block;
            border-left: 1px solid #444;
            height: 46px;
            width: 46px;
            cursor: pointer
        }
        #skh-version__1 .submenu-button.submenu-opened {
            background: #262626
        }
        #skh-version__1 ul ul .submenu-button {
            height: 34px;
            width: 34px
        }
        #skh-version__1 .submenu-button:after {
            position: absolute;
            top: 22px;
            right: 19px;
            width: 8px;
            height: 2px;
            display: block;
            background: #ddd;
            content: ''
        }
        #skh-version__1 ul ul .submenu-button:after {
            top: 15px;
            right: 13px
        }
        #skh-version__1 .submenu-button.submenu-opened:after {
            background: #fff
        }
        #skh-version__1 .submenu-button:before {
            position: absolute;
            top: 19px;
            right: 22px;
            display: block;
            width: 2px;
            height: 8px;
            background: #ddd;
            content: ''
        }
        #skh-version__1 ul ul .submenu-button:before {
            top: 12px;
            right: 16px
        }
        #skh-version__1 .submenu-button.submenu-opened:before {
            display: none
        }
        #skh-version__1 ul ul ul li.active a {
            border-left: none
        }
        #skh-version__1>ul>li.has-sub>ul>li.active>a,
        #skh-version__1>ul ul>li.has-sub>ul>li.active>a {
            border-top: none
        }
    }
}