$link-normal: #333;
$link-hover: #555;
$menu-wrapper-bg: #fff;
#skh-version__2 {
    position: relative;
    @extend .clearfix;
    /* Menu Container */
    .menu {
        @include normal() {
            display: none;
        }
        &__brand {
            width: 100%;
            display: block;
            float: left;
            padding-top: 10px;
            img {
                max-height: 100px;
                display: block;
                margin: 0 auto;
                @include transition(compact(all 0.5s));
            }
        }
        &__list {
            text-align: left;
        }
        &__list--wrapper {
            position: relative;
            list-style-type: none;
            width: 100%;
            display: block; //float: left;
            @include transition(compact(all 0.3s)); //padding-top: 12px;
        }
        &--wrapper {
            position: relative;
            background-color: $menu-wrapper-bg;
            z-index: 10;
            @include box-shadow(0 5px 15px rgba(0, 0, 0, .05));
            @extend .clearfix;
            @include transition(compact(all 0.5s)); //padding: 20px 25px;
        }
    }
    /* Menu Item List Elements */
    .menu {
        .menu-item {
            display: inline-block; //margin: 5px;
            position: relative;
            >a {
                padding: 20px 20px;
                background-color: transparent;
                text-decoration: none;
                color: $link-normal;
                @include transition(compact(all 0.3s));
                &:hover {
                    color: $link-hover;
                }
                @include medium() {
                    font-size: 13px;
                    padding: 15px 10px;
                }
            }
            &:before,
            &:after {
                content: '';
                position: absolute;
                width: 10px;
                height: 10px;
                opacity: 0;
                border: 2px solid $link-hover;
                @include transition(compact(all 0.3s));
            } // &:before {
            //     top: -4px;
            //     left: 8px;
            //     border-width: 2px 0 0 2px;
            // }
            // &:after {
            //     right: 8px;
            //     bottom: -5px;
            //     border-width: 0 2px 2px 0;
            // }
        }
    }
    .menu {
        .menu-item:hover,
        .menu-item:focus,
        .menu-item.current_page_item {
            a {
                color: $link-hover;
            } // &:before,
            // &:after {
            //     opacity: 1;
            // }
            // &:before {
            //     top: -4px;
            //     left: 0px;
            // }
            // &:after {
            //     right: 0px;
            //     bottom: -4px;
            // }
        }
    }
    .menu--is-fixed {
        height: 100px;
        position: fixed;
        z-index: 99;
        .menu--wrapper {
            position: fixed;
            width: 100%;
            -moz-transition: all 0.5s;
            -o-transition: all 0.5s;
            -webkit-transition: all 0.5s;
            transition: all 0.5s;
        }
        &.scroll {
            .menu--wrapper {
                //padding: 8px 25px;
                position: fixed; //height: 2px;
                //overflow: hidden;
                margin-top: -100px;
            }
            .menu__list--wrapper {
                //padding-top: 4px;
            }
            .menu__brand {
                img {
                    //max-height: 40px;
                }
            }
        }
    }
}

/*
**
** MOBILE VERSION
**
*/

.mobile-menu {
    display: none;
    @include normal() {
        display: block;
        width: 100%;
    }
}

.mobile-menu {
    position: fixed; //width: 100%;
    z-index: 9999995;
    height: 50px;
    top: 0px;
    .overlay {
        content: '';
        @include transition(compact(all 0.5s));
        height: 100%;
        width: 0px;
        background-color: rgba(0, 0, 0, .5);
        position: fixed;
        left: 0px;
        top: 50px;
        &.open-menu {
            width: 100%;
        }
    }
    &__brand {
        display: block;
        float: left;
        @extend .clearfix;
        img {
            max-height: 35px;
            @include transition(compact(all 0.5s));
            float: right;
        }
    }
    &__list {
        height: 100%;
        width: 0px;
        position: fixed;
        z-index: 5;
        top: 50px;
        left: 0px;
        background-color: #121212; //border-top: solid 1px #ddd;
        //overflow-y: scroll;
        overflow: hidden;
        @include box-shadow(5px 5px 15px rgba(0, 0, 0, .2));
        @include transition(compact(all 0.5s));
        a {
            color: #fff;
            flex-basis: 50%;
            padding: 25px 15px;
            &:nth-child(odd) {
                border-right: solid 1px #000;
            }
            @include transition(compact(all 0.5s));
            border-bottom: solid 1px #000;
            &:hover {
                text-decoration: none;
                background-color: #fff;
                color: #222;
            }
        }
        a {
            display: none;
        }
        &.open-menu {
            width: 100%;
            a {
                display: flex;
            }
        }
    }
    &__list--wrapper {
        position: relative;
        list-style-type: none;
        display: block;
        @include transition(compact(all 0.3s));
    }
    &--wrapper {
        position: relative;
        background-color: $menu-wrapper-bg;
        z-index: 10;
        @extend .clearfix;
        @include transition(compact(all 0.5s));
        padding: 8px 15px; //background-color: #f5f5f5;
    }
}

.mobile_menu_wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* btn */

$bar-color: #888;
.toggleTopMenu-mobile {
    position: absolute !important;
    top: 4px;
    right: 0;
}

.anim-btn {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 30px;
    span {
        margin: 0 auto;
        position: relative;
        top: 12px;
    }
    span:before,
    span:after {
        position: absolute;
        content: '';
    }
    span,
    span:before,
    span:after {
        width: 30px;
        height: 3px;
        background-color: $bar-color;
        display: block;
    }
    span:before {
        margin-top: -8px;
    }
    span:after {
        margin-top: 8px;
    }
}

/* example 5 */

.example5 span {
    transition-duration: 0s;
    transition-delay: .1s;
}

.example5.show-animation span {
    background-color: rgba(0, 0, 0, 0.0);
    transition-delay: .1s;
}

.example5 span:before {
    transition-property: margin, transform;
    transition-duration: .2s;
    transition-delay: .2s, 0;
}

.example5.show-animation span:before {
    margin-top: 0;
    transform: rotate(45deg);
    transition-delay: 0, .2s;
}

.example5 span:after {
    transition-property: margin, transform;
    transition-duration: .2s;
    transition-delay: .2s, 0;
}

.example5.show-animation span:after {
    margin-top: 0;
    transform: rotate(-45deg);
    transition-delay: 0, .2s;
}

#menu-main-menu {
    >li {
        &:last-child {
            float: right;
            position: absolute !important;
            right: 0px;
            a {
                background-color: #683091!important;
                color: #fff !important;
            }
        }
    }
}

.menu__list--wrapper {
    background: #f5f5f5;
}

.top-search {
    background: #fff;
    height: 40px;
    @include medium() {
        height: auto;
    }
}

span.screen-reader-text {
    display: none;
}

.top-header {
    padding: 0px;
    @include medium() {
        width: 100%;
    }
}

.sqr__logo {
    @include medium() {
        width: 13% !important;
    }
}

.top-search {
    @include medium() {
        position: absolute;
        top: -75px;
        left: 115px;
    }
}

.top-search form {
    display: inline-block;
    padding-left: 30px;
}

.top-search #contact_number,
.top-search #contact_text {
    display: inline-block;
    padding: 3px 15px;
    color: #333;
    font-size: 18px;
    @include medium() {
        font-size: 14px !important;
        padding: 2px 0px;
        padding-right: 15px;
    }
    font-weight: bold;
    a {
        color: #333;
        text-decoration: none !important;
    }
}

span.contact_details {
    float: right;
    @include medium() {
        float: left;
        width: 100%;
    }
}

input.search-field::placeholder {
    color: #fff;
}

input[type="search"] {
    width: 100px;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 7px 5px;
    font-weight: normal;
    background: transparent;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    border: none;
    border-radius: 0px;
    line-height: 1;
    padding: 11px 2px;
    background-color: #007abd;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

#skh-version__2 .menu--is-fixed .menu--wrapper {
    width: 96%;
    margin: 0px 2%;
}

#skh-version__2 {
    .menu-item-has-children {
        a {
            &:hover {
                color: #333;
            }
        }
        &:hover .sub-menu {
            display: block;
        }
        &:before {
            content: '\f107' !important;
            font-family: 'FontAwesome';
            opacity: 1 !important;
            border: 0px !important;
            right: 3px;
            top: 20px;
            cursor: pointer;
        }
        .sub-menu {
            display: none;
            position: absolute;
            margin: 0px;
            padding: 0px;
            margin-left: 17px;
            background-color: #fff;
            min-width: 170px;
            li {
                display: block;
                padding: 0px;
                @include transition(compact(all 0.3s));
                &:hover{
                    background-color: #f5f5f5;
                }
                >a {
                    padding: 10px 15px;
                    font-size: 14px;
                    &:hover {
                        color: #333;
                    }
                }
            }
        }
    }
}