
/* CUSTOM CSS */

.menu__list ul li {
    display: inline-block;
    padding: 10px;
}

#skh-version__2 .menu__list {
    text-align: left;
}

ul.social-media-icon li {
    display: inline-block;
    padding: 10px;
}

ul.social-media-icon li a {
    display: block;
    font-size: 30px;
}

ul.social-media-icon li a:hover {
    text-decoration: none;
    color: $pt-color;
}

ul.footer-block li {
    width: 19.6%;
    display: inline-block;
    padding: 15px;
    text-align: justify;
}

.footer-middle {
    text-align: center;
    border-bottom: 1px solid #000;
}

.footer-bottom {
    text-align: center;
    text-transform: uppercase;
}

h4#footer_bottom {
    padding: 15px;
}

ul.bottom-link li {
    display: inline-block;
    padding: 10px;
}

#skh-version__2 .menu--wrapper {
    padding: 0px;
}

#skh-version__2 .menu .menu-item a {
    padding: 20px 20px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    display: block;
}

#ajaxsearchpro1_1, #ajaxsearchpro1_2, div.ajaxsearchpro[id*="ajaxsearchpro1_"] {

    width: 25%;
    display: inline-block;
}