/* =======================================================================
## ++ Media Queries
========================================================================== */


/*
    Used for media queries.
    Add these mixins in your normal scss flow.

    Eg.
    .container{
        width:1024px;

        @include tablets{
            width:90%;
        }
    }
*/

@mixin large {
    @media screen and (max-width: 1199px) {
        @content;
    }
}

@mixin medium {
    @media screen and (max-width: 991px) {
        @content;
    }
}

@mixin normal {
    @media screen and (max-width: 767px) {
        @content;
    }
}

@mixin small {
    @media screen and (max-width: 500px) {
        @content;
    }
}


/* =======================================================================
## ++ Unit transform
========================================================================== */


/*
    Used for making containers have width in percentages.
    Usage: define elemnt width in px and the width of parent elemnt in px.
    eg. .block{width:cp(512px, 1024px)} this will result in .block{width:50%;}
*/

@function cp($target, $container) {
    @return ($target / $container) * 100%;
}


/*
    Used for making px values convert to rem values
    Usage: define font-size in px and it will convert to rems
    eg. font-size: rem(14px);
*/

@function rem($target, $context: $base-font-size) {
    @if $target==0 {
        @return 0
    }
    @return $target / $context+0rem;
}

$base-font-size:16px;

/*
    Link hover and active stage
*/

@mixin link($color__link) {
    color: $color__link !important;
    text-decoration: none;
    &:hover,
    &:focus,
    &:active {
        color: darken($color__link, 10%)!important;
        text-decoration: none;
    }
}