
@import url("https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1.55;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* =======================================================================
## ++ Globals
========================================================================== */
html {
  font-size: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  font-family: 'Ubuntu', sans-serif;
}

* {
  box-sizing: border-box;
}

/* =======================================================================
## ++ Cleafix
========================================================================== */
/* float clearing for IE6 */
* html .clearfix, * html #skh-version__2, * html #skh-version__2 .menu--wrapper, #skh-version__2 * html .menu--wrapper, * html .mobile-menu__brand, * html .mobile-menu--wrapper {
  height: 1%;
  overflow: visible;
}

/* float clearing for IE7 */
* + html .clearfix, * + html #skh-version__2, * + html #skh-version__2 .menu--wrapper, #skh-version__2 * + html .menu--wrapper, * + html .mobile-menu__brand, * + html .mobile-menu--wrapper {
  min-height: 1%;
}

/* float clearing for everyone else */
.clearfix:after, #skh-version__2:after, #skh-version__2 .menu--wrapper:after, .mobile-menu__brand:after, .mobile-menu--wrapper:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  font-size: 0;
}

.clr {
  clear: both;
}

/* Divi Builder CSS Fix as per Bootstrap */
.et_divi_builder #et_builder_outer_content .et_pb_row {
  max-width: 1140px;
}

#et_builder_outer_content div {
  color: inherit;
}

.ninja-forms-form-wrap .nf-form-fields-required {
  display: none;
}
.ninja-forms-form-wrap .nf-field {
  margin-bottom: 15px !important;
}
.ninja-forms-form-wrap input {
  width: 100% !important;
  display: block !important;
  height: 45px !important;
  background-color: white !important;
  border: solid 1px #eee !important;
  border-radius: 3px !important;
}
.ninja-forms-form-wrap input[type=button] {
  background-color: #f87e3d !important;
  width: 100% !important;
  display: block !important;
  text-align: center !important;
  color: white !important;
  height: 45px !important;
  cursor: pointer !important;
  font-weight: bold;
  text-transform: uppercase;
}

.video-banner-container {
  position: relative;
  display: block;
  width: 100%;
}
.video-banner-container:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  font-size: 0;
}
.video-banner-container .video-caption {
  padding: 15% 5%;
  z-index: 9;
  position: absolute;
}
@media (max-width: 580px) {
  .video-banner-container .video-caption {
    padding: 0% 0%;
    padding-top: 2%;
    text-align: center;
    position: relative;
  }
}
.video-banner-container .video-caption:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  font-size: 0;
}
.video-banner-container .video-caption p {
  margin-bottom: 0px;
}
.video-banner-container .video-caption button {
  color: white;
  padding: 10px 50px;
  height: 55px;
}
.video-banner-container .video-caption ul {
  padding: 0px;
  list-style-type: none;
}
@media (max-width: 580px) {
  .video-banner-container .video-caption ul {
    display: none;
  }
}
.video-banner-container .video-caption ul li {
  padding: 1px 0px;
  color: white;
  font-size: 20px;
  text-transform: uppercase;
}
@media (max-width: 1000px) {
  .video-banner-container .video-caption ul li {
    font-size: 16px;
  }
}
@media screen and (max-width: 767px) {
  .video-banner-container .video-caption ul li {
    font-size: 13px;
  }
}

video {
  width: 100%;
  height: auto;
  background-size: cover;
  transition: 1s opacity;
  margin-bottom: -7px;
}
@media screen and (max-width: 767px) {
  video {
    margin-top: 2%;
  }
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 12px;
}

@media screen and (max-width: 991px) {
  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 26px;
  }

  h3 {
    font-size: 22px;
  }
}
@media screen and (max-width: 767px) {
  h1 {
    font-size: 22px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 18px;
  }
}
@media screen and (max-width: 500px) {
  h1 {
    font-size: 20px;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
  line-height: 1.5 !important;
}

p {
  margin-bottom: 2em;
}
@media screen and (max-width: 767px) {
  p {
    font-size: 13px;
  }
}

a {
  color: grey;
}

.section_title {
  font-size: 25px;
  color: #000 !important;
}

.primary_section_heading h3 {
  font-weight: 300 !important;
}

.slider_home_page .slider_item {
  padding: 5% 10%;
  padding-top: 15%;
  background-size: cover;
  background-repeat: no-repeat center;
}
.slider_home_page .owl-dots {
  margin-top: -35px !important;
  z-index: 9;
  position: relative;
}

.slider_testimonials {
  text-align: left !important;
}
.slider_testimonials h3 {
  font-size: 22px;
  font-style: bold !important;
  font-weight: 600 !important;
  color: #000;

  @include normal(){
    font-size:15px;
  }
}
.slider_testimonials h4 {
  font-weight: bold !important;
  color: #000 !important;
}
.slider_testimonials h5:before {
  content: '-';
  padding-right: 10px;
}
.slider_testimonials .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 7px !important;
  background: #D6D6D6 !important;
  display: block;
  -webkit-backface-visibility: visible !important;
  transition: opacity 200ms ease;
  border-radius: 30px !important;
}
.slider_testimonials .owl-dot.active span {
  background-color: #000 !important;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea, select {
  color: #555;
  border: 1px solid #888;
  border-radius: 3px;
  padding: 7px 5px;
  font-weight: normal;
}

input[type="text"]::-moz-placeholder,
input[type="email"]::-moz-placeholder,
input[type="url"]::-moz-placeholder,
input[type="password"]::-moz-placeholder,
input[type="search"]::-moz-placeholder,
input[type="number"]::-moz-placeholder,
input[type="tel"]::-moz-placeholder,
input[type="range"]::-moz-placeholder,
input[type="date"]::-moz-placeholder,
input[type="month"]::-moz-placeholder,
input[type="week"]::-moz-placeholder,
input[type="time"]::-moz-placeholder,
input[type="datetime"]::-moz-placeholder,
input[type="datetime-local"]::-moz-placeholder,
input[type="color"]::-moz-placeholder,
textarea::-moz-placeholder, select::-moz-placeholder {
  color: #999;
  opacity: 0.8;
}
input[type="text"]:-ms-input-placeholder,
input[type="email"]:-ms-input-placeholder,
input[type="url"]:-ms-input-placeholder,
input[type="password"]:-ms-input-placeholder,
input[type="search"]:-ms-input-placeholder,
input[type="number"]:-ms-input-placeholder,
input[type="tel"]:-ms-input-placeholder,
input[type="range"]:-ms-input-placeholder,
input[type="date"]:-ms-input-placeholder,
input[type="month"]:-ms-input-placeholder,
input[type="week"]:-ms-input-placeholder,
input[type="time"]:-ms-input-placeholder,
input[type="datetime"]:-ms-input-placeholder,
input[type="datetime-local"]:-ms-input-placeholder,
input[type="color"]:-ms-input-placeholder,
textarea:-ms-input-placeholder, select:-ms-input-placeholder {
  color: #999;
}
input[type="text"]::-webkit-input-placeholder,
input[type="email"]::-webkit-input-placeholder,
input[type="url"]::-webkit-input-placeholder,
input[type="password"]::-webkit-input-placeholder,
input[type="search"]::-webkit-input-placeholder,
input[type="number"]::-webkit-input-placeholder,
input[type="tel"]::-webkit-input-placeholder,
input[type="range"]::-webkit-input-placeholder,
input[type="date"]::-webkit-input-placeholder,
input[type="month"]::-webkit-input-placeholder,
input[type="week"]::-webkit-input-placeholder,
input[type="time"]::-webkit-input-placeholder,
input[type="datetime"]::-webkit-input-placeholder,
input[type="datetime-local"]::-webkit-input-placeholder,
input[type="color"]::-webkit-input-placeholder,
textarea::-webkit-input-placeholder, select::-webkit-input-placeholder {
  color: #999;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
  color: #111;
  border: solid 1px #555;
}

textarea {
  width: 100%;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  border: solid 1px #333;
  border-radius: 3px;
  line-height: 1;
  padding: 11px 2px;
  background-color: #ddd;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

/* CUSTOM CSS */
.menu__list ul li {
  display: inline-block;
  padding: 10px;
}

#skh-version__2 .menu__list {
  text-align: left;
}

ul.social-media-icon li {
  display: inline-block;
  padding: 10px;
}

ul.social-media-icon li a {
  display: block;
  font-size: 30px;
}

ul.social-media-icon li a:hover {
  text-decoration: none;
  color: #000;
}

ul.footer-block li {
  width: 19.6%;
  display: inline-block;
  padding: 15px;
  text-align: justify;
}

.footer-middle {
  text-align: center;
  border-bottom: 1px solid #000;
}

.footer-bottom {
  text-align: center;
  text-transform: uppercase;
}

h4#footer_bottom {
  padding: 15px;
}

ul.bottom-link li {
  display: inline-block;
  padding: 10px;
}

#skh-version__2 .menu--wrapper {
  padding: 0px;
}

#skh-version__2 .menu .menu-item a {
  padding: 20px 20px;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  display: block;
}

#ajaxsearchpro1_1, #ajaxsearchpro1_2, div.ajaxsearchpro[id*="ajaxsearchpro1_"] {
  width: 25%;
  display: inline-block;
}

.entry-summary label {
  color: #333 !important;
}

.product {
  max-width: 1170px;
  display: block;
  margin: 0 auto;
}

table.variations tr {
  margin: 10px 0px;
}
table.variations tr td {
  padding-bottom: 15px;
}
table.variations tr td label {
  font-size: 15px;
}
table.variations tr td select {
  height: 40px;
}

.woocommerce-Price-amount {
  font-size: 28px;
}

.single_add_to_cart_button {
  background-color: #000 !important;
  height: 37px;
}

.woocommerce-variation-add-to-cart {
  margin-top: 15px;
}

.products .woocommerce-loop-product__title {
  color: #000 !important;
}
.products .price {
  color: #000!important;
}
.products .price span {
  font-size: 18px;
  font-weight: bold !important;
}

ul, ol {
  margin: 0px;
  padding: 0px;
  padding-left: 15px;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1.5em;
}

dt {
  font-weight: bold;
}

dd {
  margin: 0px;
  padding: 0px;
}

.main-footer-area {
  padding-top: 3%;
  padding-bottom: 3%;
}
.main-footer-area .footer_social_share_title {
  text-transform: uppercase;
  font-size: 20px;
}
.main-footer-area .social-media-icon {
  padding: 0px;
}
.main-footer-area .top-footer {
  text-align: center;
}

.footer_nav {
  border-top: solid 1px #ddd;
  border-bottom: solid 1px #ddd;
  padding: 25px 0px;
}

.footer_menu__list {
  list-style-type: none;
  text-align: center;
}
.footer_menu__list li {
  display: inline-block;
  margin: 0px 15px;
  text-transform: uppercase;
}
.footer_menu__list li a:hover {
  text-decoration: none;
  color: #000;
}

.footer-copyinfo {
  text-align: center;
  padding-bottom: 20px;
}
.footer-copyinfo p {
  margin-bottom: 10px;
  font-weight: bold;
  color: #888;
}
.footer-copyinfo ul {
  text-align: center;
}
.footer-copyinfo ul li {
  display: inline-block;
  margin: 0px 5px;
  font-size: 13px;
}
.footer-copyinfo ul li:after {
  content: ' | ';
  padding-left: 15px;
}
.footer-copyinfo ul li:last-child:after {
  content: '';
}
.footer-copyinfo ul li a:hover {
  text-decoration: none;
  color: #000;
}

article {
  margin-top: 25px;
}

.comments-area h2 {
  font-size: 22px;
  border-bottom: solid 1px #ddd;
  border-top: solid 1px #ddd;
  padding: 15px 0;
}
.comments-area .comment-reply-title {
  font-size: 22px;
  border-bottom: solid 1px #ddd;
  border-top: solid 1px #ddd;
  padding: 15px 0;
}

#commentform label {
  display: block !important;
  color: #000 !important;
}
#commentform input {
  display: block !important;
  width: 70% !important;
}

/* Widget */
aside {
  margin-top: 25px;
}
aside .search-form span {
  display: none;
}
aside .widget {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: solid 1px #eee;
}
aside .widget-title {
  font-size: 15px;
  font-weight: bold;
}
aside ul li {
  padding: 5px 0px;
  font-size: 14px;
}
aside ul li a {
  color: #777;
}
aside .search-form label {
  width: 70% !important;
}
aside .search-form input {
  width: 100%;
  border: 1px #ddd solid;
}
aside .search-form .search-submit {
  width: 30% !important;
  margin-left: -8px;
}
aside .widget_search label {
  width: 100% !important;
}
aside .widget_search label span {
  display: none;
}
aside .widget_search input {
  width: 100% !important;
}
aside .widget_search .search-submit {
  display: none;
}
