.entry-summary{

    label{
        color: #333 !important;
    }
}

.product {
    max-width: 1170px;
    display: block;
    margin: 0 auto;
}

table.variations{

    tr{
        margin: 10px 0px;
        td{
            padding-bottom: 15px;

            label{
                font-size: 15px;
            }

            select{
                height: 40px;
            }
        }
    }
}

.woocommerce-Price-amount{
    font-size: 28px;
}

.single_add_to_cart_button {
    background-color: $pt-color !important;
    height: 37px;
}

.woocommerce-variation-add-to-cart{
    margin-top: 15px;
}

.products{

    .woocommerce-loop-product__title{
        color: $pt-color !important;
    }
    .price{
        color: $pt-color !important;

        span{
            font-size: 18px;
            font-weight: bold !important;
        }
    }
}