/*
* Admin Css
*/

.et-pb-section-add:before, .et-pb-row-add:before, .et-pb-insert-column:before, .et-pb-insert-module:before, .et-pb-add-sortable-option:before {
  content: '\3b';
  font-size: 14px !important;
  margin-right: 5px;
  top: 1px !important;
  position: relative;
}

.et_pb_global .et-pb-section-title:after, .et_pb_global .et-pb-module-title:after, .et_pb_global .et-pb-row-title:after {
  content: ' => Global item ' !important;
  font-size: 10px !important;
  text-transform: capitalize;
  color: #eee !important;
  font-weight: normal !important;
}

.et_pb_global .et-pb-module-title {
  color: #555 !important;
}
.et_pb_global .et-pb-module-title:after {
  color: #555 !important;
}
.et_pb_global .et-pb-row-title:after {
  color: #555 !important;
}
.et_pb_global .et_pb_module_block {
  background: #fff !important;
}

#et_pb_layout .et-pb-app-portability-button:before, #et_pb_layout .et-pb-app-settings-button .icon:before {
  font-size: 13px;
  padding: 21px 0;
}

#et_pb_layout .hndle {
  font-weight: 300 !important;
  font-size: 22px;
  color: #fff;
  background-color: #313131;
  padding: 2px 25px !important;
  border-bottom: 0;
  line-height: 18px;
  border-radius: 0px;
  min-height: 50px;
}
#et_pb_layout .hndle span {
  color: transparent;
  font-size: 0.2em;
}
#et_pb_layout .hndle span:before {
  content: 'The Builder';
  font-size: 15px !important;
  color: #eee;
  display: block;
  position: absolute;
  margin-top: 15px;
  font-weight: bold;
}
#et_pb_layout .hndle:before {
  content: '';
}
#et_pb_layout .et-pb-app-settings-button .icon {
  padding: 18px 0 !important;
}
#et_pb_layout .handlediv .toggle-indicator:before {
  padding: 11px 0px !important;
  font-size: 28px;
  top: 0px;
  position: relative;
}
#et_pb_layout.closed .hndle {
  border-radius: 0px;
}

#et_pb_layout_controls {
  overflow: hidden;
  text-align: right;
  top: -15px;
  right: 0;
  margin: 0;
  background-color: #5c5c5c;
  position: relative;
  z-index: 101;
  width: 100%;
}
#et_pb_layout_controls .et-pb-layout-buttons {
  box-sizing: border-box;
  color: #fff;
  margin: 0;
  float: left;
  border-radius: 0;
  text-align: center;
  background-color: #5c5c5c;
  padding: 8px 21px !important;
  font-weight: 400;
  font-size: 13px;
}
#et_pb_layout_controls .et-pb-layout-buttons:hover {
  background-color: #333 !important;
}
#et_pb_layout_controls .et-pb-layout-buttons-undo {
  padding: 0 5px;
}

.et-pb-column-layouts {
  top: -118px;
}

.et_pb_section {
  margin: 35px 30px 85px 30px;
  border-radius: 0px;
}
.et_pb_section .et-pb-section-content {
  padding: 15px 15px 40px 15px;
}
.et_pb_section .et-pb-controls {
  background-color: transparent !important;
  width: 100%;
  top: -33px;
  height: 30px;
  border-radius: 0px;
  z-index: 99;
}
.et_pb_section .et-pb-controls a {
  color: #999;
  font-size: 22px;
}
.et_pb_section .et-pb-controls .et-pb-settings:before {
  content: "8" !important;
  font-size: 15px;
}
.et_pb_section .et-pb-controls .et-pb-clone {
  left: 30px;
  top: -3px !important;
}
.et_pb_section .et-pb-controls .et-pb-change-structure {
  left: 60px;
  font-size: 25px;
}
.et_pb_section .et-pb-controls .et-pb-remove {
  left: auto;
  right: 5px;
}
.et_pb_section .et-pb-controls .et-pb-unlock {
  top: -2px !important;
}
.et_pb_section .et-pb-controls .et-pb-expand {
  top: -1px !important;
}

.et_pb_section.et_pb_collapsed {
  min-height: 5px;
  background-color: transparent;
}

span.et-pb-section-title {
  display: block;
  text-align: center;
  position: absolute;
  top: -38px;
  font-size: 13px;
  background-color: #32373c;
  display: block;
  width: 100%;
  color: #999;
  font-weight: bold;
  padding: 10px 0px;
  text-transform: uppercase;
  z-index: 1;
}

.et_pb_collapsed span.et-pb-section-title {
  min-width: 65px;
  display: block;
  font-size: 13px;
  text-align: center;
  font-weight: bold;
  padding: 10px 0px;
  text-transform: uppercase;
  color: #999;
}

#row_control, .et_pb_section .et-pb-controls .et-pb-settings, .et_pb_section .et-pb-controls .et-pb-clone, .et_pb_section .et-pb-controls .et-pb-change-structure, .et_pb_section .et-pb-controls .et-pb-remove, .et_pb_row .et-pb-controls .et-pb-settings, .et_pb_row .et-pb-controls .et-pb-clone, .et_pb_row .et-pb-controls .et-pb-change-structure, .et_pb_row .et-pb-controls .et-pb-remove {
  position: absolute;
  margin: 2px;
  top: 0px;
  display: inline-block;
}

.et_pb_row {
  margin-top: 5px;
  border-radius: 0px;
  min-height: 100px;
  background-color: #fff;
}
.et_pb_row .et-pb-controls {
  background-color: #f2f3f3 !important;
  width: 200px;
  top: 0px;
  height: 30px;
  border-radius: 0px;
  left: auto !important;
  right: 0px !important;
}
.et_pb_row .et-pb-controls a {
  color: #999;
  font-size: 22px;
}
.et_pb_row .et-pb-controls a:hover {
  opacity: 1;
}
.et_pb_row .et-pb-controls .et-pb-settings:before {
  content: "8" !important;
  font-size: 15px;
}
.et_pb_row .et-pb-controls .et-pb-clone {
  left: 30px;
  top: -5px;
}
.et_pb_row .et-pb-controls .et-pb-change-structure {
  left: 60px;
  font-size: 25px;
}
.et_pb_row .et-pb-controls .et-pb-remove {
  left: 165px;
}
.et_pb_row .et-pb-controls .et-pb-unlock {
  top: -1px;
}
.et_pb_row .et-pb-controls .et-pb-expand {
  top: 1px !important;
  left: auto;
  right: 5px;
}
.et_pb_row .et-pb-row-content {
  padding: 40px 15px 15px 15px;
}

.et-pb-row-add {
  right: 0px;
}

.et_pb_row.et_pb_locked .et_pb_module_block {
  background: #f5f5f5;
}
.et_pb_row.et_pb_collapsed {
  height: 35px;
  min-height: 35px;
}
.et_pb_row.et_pb_collapsed .et-pb-controls {
  background: #fff !important;
  height: 35px;
  visibility: visible;
}
.et_pb_row.et_pb_collapsed .et-pb-row-title {
  padding: 4px 5px;
  text-align: center;
  position: relative;
}

.et-pb-row-title {
  display: block !important;
  position: absolute;
  left: 15px;
  top: 5px;
  color: #999;
  text-transform: capitalize;
}

.et_pb_row > .et-pb-controls {
  visibility: visible;
  -webkit-transition: All 0.2s ease;
  -moz-transition: All 0.2s ease;
  -o-transition: All 0.2s ease;
}

.et_pb_row:hover > .et-pb-controls {
  visibility: visible;
  -webkit-transition: All 0.2s ease;
  -moz-transition: All 0.2s ease;
  -o-transition: All 0.2s ease;
}

.et_pb_row:hover {
  -moz-box-shadow: 0 0 1.631rem 0.181rem rgba(0, 1, 1, 0.17);
  -webkit-box-shadow: 0 0 1.631rem 0.181rem rgba(0, 1, 1, 0.17);
  box-shadow: 0 0 1.631rem 0.181rem rgba(0, 1, 1, 0.17);
}

#col_888, .et-pb-column .et-pb-settings, .et-pb-column .et-pb-clone, .et-pb-column .et-pb-remove, .et_pb_module_block .et-pb-settings, .et_pb_module_block .et-pb-clone, .et_pb_module_block .et-pb-remove {
  color: #ccc;
  font-size: 22px;
}
#col_888:hover, .et-pb-column .et-pb-settings:hover, .et-pb-column .et-pb-clone:hover, .et-pb-column .et-pb-remove:hover, .et_pb_module_block .et-pb-settings:hover, .et_pb_module_block .et-pb-clone:hover, .et_pb_module_block .et-pb-remove:hover {
  color: #333;
}

.et-pb-column {
  min-height: 20px;
}
.et-pb-column .et_pb_module_block {
  padding: 5px;
  color: #777;
  text-align: center;
  margin: 0 0 9px;
  min-height: 20px;
  border: 1px solid #dddddd;
  border-radius: 0px;
}
.et-pb-column .et_pb_module_block:hover {
  border: 1px solid #aaa;
}
.et-pb-column .et_pb_module_block .et-pb-module-title {
  font-size: 12px;
  min-width: 65px;
  margin: 5px 0;
  display: block;
}
.et-pb-column .et_pb_module_block .et-pb-insert-module {
  border-radius: 0px;
  padding: 9px;
  min-height: 20px;
  box-shadow: none;
}
.et-pb-column .et_pb_module_block .et-pb-insert-module span {
  font-size: 11px;
}
.et-pb-column .et-pb-settings:before {
  content: "B" !important;
  font-size: 17px;
}
.et-pb-column .et-pb-clone {
  top: -2px;
}

.et-pb-column .et-pb-insert-module {
  box-shadow: inset 0 0 0 1px #8294a5;
  border-radius: 0px;
  padding: 9px;
  min-height: 20px;
}
.et-pb-column .et-pb-insert-module span {
  font-size: 11px;
}

.et_pb_module_block {
  background: #f9f9f9 !important;
  padding: 5px;
  color: #777;
  text-align: center;
  margin: 0 0 9px;
  min-height: 20px;
  border: 1px solid #dddddd;
  border-radius: 0px;
}
.et_pb_module_block:hover {
  border: 1px solid #aaa;
}
.et_pb_module_block .et-pb-module-title {
  font-size: 12px;
  min-width: 65px;
  margin: 5px 0;
  display: block;
}
.et_pb_module_block .et-pb-insert-module {
  border-radius: 0px;
  padding: 9px;
  min-height: 20px;
  box-shadow: none;
}
.et_pb_module_block .et-pb-insert-module span {
  font-size: 11px;
}
.et_pb_module_block .et-pb-settings:before {
  content: "B" !important;
  font-size: 17px;
}

.et-pb-column .et_pb_module_block > a,
.et_pb_fullwidth_module > a {
  visibility: hidden !important;
}

.et-pb-column .et_pb_module_block:hover > a,
.et_pb_fullwidth_module:hover > a {
  visibility: visible !important;
  cursor: cursor;
}

.et_pb_modal_overlay {
  background: rgba(255, 255, 255, 0.8);
}

.et_pb_modal_settings {
  top: 100px !important;
}
.et_pb_modal_settings .et-pb-settings-heading {
  font-size: 15px;
  font-weight: 300;
  background-color: #333;
  color: #fff;
  padding: 13px 15px;
  top: -100px;
}

.et-pb-settings-heading {
  font-size: 15px;
  font-weight: 300;
  background-color: #333;
  color: #fff;
  padding: 13px 15px;
}

.et-pb-modal-close {
  padding: 10px 15px;
  background-color: #434343;
}
.et-pb-modal-close:hover {
  background-color: #111;
}

.et-pb-main-settings,
.et_pb_module_settings .et-pb-main-settings-advanced {
  top: 101px;
}

.et-pb-saved-modules-tab,
.et-pb-all-modules-tab {
  top: -10px;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 40px;
  overflow: auto;
}

.et-pb-preview-screensize-switcher,
.et-pb-options-tabs-links {
  background-color: #555;
  position: absolute;
  width: 1000px;
  margin: 0;
  z-index: 10;
}

.et-pb-preview-screensize-switcher li a,
.et-pb-options-tabs-links li a {
  font-weight: 400;
  text-decoration: none;
  color: #fff;
  padding: 11px 40px;
  display: block;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: background .5s;
  transition: background .5s;
  padding: 12px 20px;
  font-size: 13px;
}
.et-pb-preview-screensize-switcher li a:hover,
.et-pb-options-tabs-links li a:hover {
  color: #fff;
  background-color: #222;
}

.et-pb-preview-screensize-switcher li a.active,
.et-pb-options-tabs-links li.et-pb-options-tabs-links-active a {
  color: #fff;
  background-color: #111;
}

.et-pb-all-modules {
  display: flex;
  flex-wrap: wrap;
  padding: 0px;
  width: 100%;
  margin: 0 auto;
  max-width: 1222px;
  position: relative;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.et-pb-all-modules li {
  display: flex;
  list-style-type: none;
  margin-bottom: 25px;
  width: 23.5% !important;
  margin: 0px !important;
  margin-right: 2% !important;
  margin-bottom: 15px !important;
  padding: 15px 20px 15px 55px;
  background: #fff;
  border: solid 1px #ddd;
  border-radius: 0px;
}
.et-pb-all-modules li:nth-child(4n) {
  margin-right: 0% !important;
}
.et-pb-all-modules li:nth-child(3n+1) {
  clear: none;
}
.et-pb-all-modules li .et_module_title {
  font-size: 14px;
}
.et-pb-all-modules li:before {
  font-size: 25px;
  margin-right: 11px;
  position: absolute;
  left: 13px;
  top: 11px;
}
.et-pb-all-modules.et-pb-load-layouts li {
  width: 100% !important;
  margin-right: 0px !important;
  display: block !important;
  font-size: 14px;
}
.et-pb-all-modules.et-pb-load-layouts .et_pb_layout_buttons {
  position: absolute;
  top: 10px;
  right: 15px;
}

.et-pb-modal-bottom-container {
  height: 50px !important;
}
.et-pb-modal-bottom-container a span {
  font-size: 14px !important;
  height: 50px !important;
  line-height: 50px !important;
}
.et-pb-modal-bottom-container .et-pb-modal-save-template {
  height: 50px !important;
  background-color: #008bdb !important;
}
.et-pb-modal-bottom-container .et-pb-modal-preview-template {
  height: 50px !important;
  background-color: #006799 !important;
}
.et-pb-modal-bottom-container .et-pb-modal-preview-template .icon:before {
  height: 50px !important;
  line-height: 50px !important;
}
.et-pb-modal-bottom-container .et-pb-modal-save {
  background-color: #008bdb !important;
  height: 50px !important;
}

.et_pb_prompt_modal h3 {
  font-weight: 300;
  font-size: 15px !important;
  color: #fff;
  background-color: #333 !important;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 13px 40px !important;
}
.et_pb_prompt_modal .et_pb_prompt_proceed {
  background-color: #555;
  height: 45px !important;
  line-height: 45px !important;
  font-size: 15px !important;
}

.et-core-modal .et-core-modal-header {
  background-color: #333;
  color: #fff;
  padding: 8px 15px;
}
.et-core-modal .et-core-modal-title {
  font-size: 15px;
  font-weight: 300;
}
.et-core-modal .et-core-modal-close {
  padding: 10px 15px;
  background-color: #434343;
}
.et-core-modal .et-core-modal-close:hover {
  background-color: #111;
}
.et-core-modal .et-core-tabs,
.et-core-modal .et-core-tabs.ui-widget-header {
  background: #555;
}
.et-core-modal .et-core-tabs a,
.et-core-modal .et-core-tabs.ui-widget-header a {
  padding: 12px 40px !important;
  font-size: 13px !important;
  background: #555;
}
.et-core-modal .et-core-tabs a:hover,
.et-core-modal .et-core-tabs li.ui-state-active a {
  background-color: #222;
}
.et-core-modal .et-core-modal-action {
  font-size: 15px;
  line-height: 50px;
}

#et-pb-histories-visualizer {
  position: absolute;
  right: 0;
  top: 34px;
  background: #222;
  color: white;
  max-width: 340px;
  z-index: 100;
  margin: 0;
  display: none;
  overflow-y: auto;
  -webkit-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
}

#et-pb-histories-visualizer li:hover {
  background: #555;
}

#et_pb_layout_controls .et-pb-layout-buttons-history.active {
  background: #111;
}

#et_pb_toggle_builder {
  transition: background 0.5s ease 0s;
  padding: 0px !important;
  font-size: 14px;
  font-weight: 100;
  height: 30px;
  line-height: 30px;
  padding-left: 25px !important;
  padding-right: 25px !important;
  color: #555;
  border: solid 1px #aaa !important;
  background: #F7F7F7 none repeat scroll 0% 0% !important;
  box-shadow: 0px 1px 0px #FFF inset, 0px 1px 0px rgba(0, 0, 0, 0.08) !important;
}

#et_pb_layout .hndle::before,
#et_pb_toggle_builder::before {
  content: "<";
  display: none;
  position: absolute;
  left: 40px;
  top: 18px;
  font-size: 32px;
}

#et_pb_layout .handlediv .toggle-indicator::before,
#et_pb_layout .handlediv::before {
  color: #fff;
  padding: -3px 0px;
  width: 50px;
  margin-top: -14px !important;
}

/*# sourceMappingURL=skh_divi_elegant_admin-admin.css.map */
